<section >
    <div class="row">
        <div *ngFor='let pokemon of this.pokemonList' class="col-2 my-3 p-1">            
                <div class="card w-100 pokemon-box">
                        <img *ngIf='pokemon.front_default' class="card-img-top" src="{{pokemon.front_default}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ pokemon.name }}</h5>
                        <a href="#" class="btn btn-primary btn-block">Ver</a>
                    </div>
                </div>
            </div>
    </div>
</section>